.card {
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.6);
  max-width: 1000px;
  margin: auto;
  text-align: center;
  color : black;
background-image : url(https://designshack.net/wp-content/uploads/white-texture-backgrounds.jpg);
}
#qwe {
	background-image : url(https://cn.opendesktop.org/img//hive/content-pre1/174365-1.jpg);
}

.title {
  color: grey;
  font-size: 28px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000066;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 18px;
  border-radius:12px;
}

#a1 {
  background-color: #04327c;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

button:hover, a:hover {
  opacity: 0.7;
	border-radius:12px;
}
.parent {
  text-align: center;
}
.parent > ul {
  display: inline-block;
}
h1 {
  text-shadow: 2px 2px #04118c;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
